<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 clearfix">
    <%= calendar @date do |date| %>
      <%= date.day %>
      <div class="pull-right">
        <%= link_to new_event_path(date: date), class: "btn btn-success btn-xs" do %>
          <i class="glyphicon glyphicon-plus"></i>
        <% end %>
      </div>
      <hr class="hr-small">
      <p class="pull-right">
        <small>
          <i><%= linktoevents date %></i>
        </small>
      </p>
    <% end %>
  </div>
</div>
