<div class="row">
  <div class="col-md-12">
    <h2>Create new event for:  <%= @date %></h2>
    <%= form_with scope: :event, url: events_path, local: true do |form| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@event.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.hidden_field :event_date, :value => @date %>
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </p>

      <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
      </p>

      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
</div>
